

.shopping_cart_outer{
display:none;
}
.woocommerce-page .shopping_cart_outer{
display:table;
}
.cover_boxes ul li .box .box_content { top: 0; }
.cover_boxes ul li .box .qbutton { margin-top: 18px; }

.ls-wp-container .qbutton {
-webkit-transition: none;
-ms-transition: none;
-moz-transition: none;
-o-transition: none;
transition: none;
}

@media only screen and (max-width: 1000px){
.page-id-15234 .ls-nav-prev,
    .page-id-15234 .ls-nav-next {
    margin-top: -27px;
}
}

.page-id-15234 .q_slider {
min-height:560px;
}
.filter_outer {
margin: -8px 0 31px;
}
.filter_holder ul li span{
font-size:13px;
}

#nav-menu-item-15674 li,
#nav-menu-item-15695 li,
#nav-menu-item-15696 li,
#nav-menu-item-15697 li,
#nav-menu-item-15777 li,
#nav-menu-item-15781 li,
#nav-menu-item-15784 li,
#nav-menu-item-15788 li,
#nav-menu-item-15791 li,
#nav-menu-item-15794 li,
#nav-menu-item-16008 li,
#nav-menu-item-16011 li,
#nav-menu-item-16014 li,
#nav-menu-item-16019 li{
width: 280px;
}

.drop_down .second .inner .widget {
padding-bottom: 15px;
}

.drop_down .second .inner .widget a{
padding: 0px !important;
}

.footer_top .column3 .textwidget {
  text-align: right;
}

.footer_top .three_columns .column2 .column_inner > div.widget_text {
       margin-left: 0;
}

.custom_link a {
     text-decoration: underline;
     color: #ad9263;
}

.custom_link a:hover {
    color: #303030;
    text-decoration: underline;
}

.q_counter_holder span.counter {
   letter-spacing: 10px;
}

blockquote h5 { font-size: 16px; }

.blog_holder article .post_info { margin: 8px 0 28px; }

.blog_single.blog_holder article .post_text .post_text_inner { padding-top: 33px; }

.footer_top div.container_inner {
       border-top: 1px solid #E0E0E0;
       padding-top: 46px;
}

.footer_top_holder div.footer_top {
padding-top: 0;
}

.position_center.title .title_subtitle_holder { position: relative; top: -20px; }

.blog_holder article.format-quote .post_text .post_title p { font-size: 16px; font-family: 'Microsoft YaHei';}

.contact_detail h4 {
display: none;
}

.contact_detail h2 {
margin-top: 10px;
margin-bottom: 15px;
}

.blog_holder article.format-quote .post_text .quote_author {
font-size: 16px;
font-family: 'Microsoft YaHei';
font-weight: 300;
}

.two_columns_25_75 aside.sidebar {
margin-top: 39px;
}
.page-id-14542 aside.sidebar {
margin-top: 40px;
}

header.fixed_hiding.scrolled .header_bottom{
box-shadow: none;
}